.navbar {
    background-color: transparent;
    transition: 0.5s ease;
}

.navbar .navbar-brand {
    color: #fff;
    font-family: 'Droid Serif', sans-serif;
    transition: 0.4s;
}

.navbar .navbar-brand:focus {
    color: #fff;
}

.navbar .navbar-brand:hover {
    color: #0ed8d6;
}

.navbar .navbar-brand-hover:hover {
    color: #3a41f5;
}

.navbar .navbar-toggler {
    border-color: #fff;
    cursor: pointer;
}

.navbar .navbar-toggler:focus {
    outline: none;
}

.navbar .navbar-toggler i {
    color: #fff;
    font-size: 1.3em;
}

.navbar.navbar-light .nav-link {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    transition: 0.4s;
    padding: 10px 20px;
    font-weight: 400;
}

.navbar.navbar-light .nav-link:hover {
    color: #0ed8d6;
}

.navbar.navbar-light .nav-link-hover:hover {
    color: #3a41f5;
}

.drop-menu {
    background-color: rgba(14, 216, 214, 0.7);
}

.main-header {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/header/pictures_on_the_wall.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.main-header h2 {
    font-family: 'Droid Serif', sans-serif;
    color: #fff;
}

.main-header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 3em;
}

#services i {
    font-size: 30px;
    border-radius: 50%;
    background-color: #0ed8d6;
    padding: 15px;
    color: #fff;
    margin-bottom: 15px;
    border: 2px solid #0ed8d6;
    transition: all 0.5s;
}

#services i:hover {
    color: #0ed8d6;
    background-color: #fff;
    transform: rotate(360deg);
}

#portfolio {
    background-color: #f7f7f7;
}

#portfolio .column {
    margin-bottom: 25px;
}

#portfolio .column .scale-img {
    overflow: hidden;
}

#portfolio .column .scale-img .figure-inner {
    height: 300px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    transition: all 0.8s ease;
}

#portfolio .column .scale-img .figure-inner .mask {
    height: 100%;
    color: #fff;
    line-height: 300px;
    background-color: rgba(14, 216, 214, 0.5);
    font-size: 2.5em;
    opacity: 0;
    transition: all 0.8s ease;
}

#portfolio .column .scale-img .figure-inner:hover .mask {
    opacity: 1;
}

#portfolio .column .scale-img .figure-inner:hover {
    transform: scale(1.4);
}

#portfolio .column .scale-img .figure1 {
    background-image: url(../img/portfolio/box_of_cookies.jpg);
}

#portfolio .column .scale-img .figure2 {
    background-image: url(../img/portfolio/chaotic_paint.jpg);
}

#portfolio .column .scale-img .figure3 {
    background-image: url(../img/portfolio/chestnut_on_bracket.jpg);
}

#portfolio .column .scale-img .figure4 {
    background-image: url(../img/portfolio/child_with_blue_paint.jpg);
}

#portfolio .column .scale-img .figure5 {
    background-image: url(../img/portfolio/house_with_blue_doors.jpg);
}

#portfolio .column .scale-img .figure6 {
    background-image: url(../img/portfolio/typing_on_laptop.jpg);
}

#portfolio .column figcaption {
    background-color: #fff;
    padding: 5px;
}

#portfolio .column figcaption p {
    font-style: italic;
}

#team figure {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

#team .figure1 {
    background-image: url(../img/team/man-1.jpg);
}

#team .figure2 {
    background-image: url(../img/team/man-2.jpg);
}

#team .figure3 {
    background-image: url(../img/team/woman-1.jpg);
}

#team p {
    margin: 0;
}

#team .last-par {
    padding: 40px 30px 0 30px;
}

#contact {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/footer/world-map.jpg);
    background-position: center;
    background-size: cover;
}

#contact h2,
#contact p {
    color: #fff;
}

#contact input,
#contact textarea {
    width: 100%;
    margin: 10px 0;
    text-transform: uppercase;
    padding: 13px;
    border-radius: 4px;
    border: 1px solid #fff;
}

#contact input,
#contact textarea:focus {
    outline: none;
}

#contact textarea {
    height: 195px;
}

#footer-container {
    padding: 20px 0;
    color: #000;
}

#footer-container .footer-col p {
    padding: 12px 0;
    margin: 0;
}

#footer-container .footer-col ul {
    margin: 0;
    padding: 0;
}

#footer-container .footer-col ul li {
    display: inline-block;
    padding: 12px 5px;
    font-size: 14px;
}

#footer-container .footer-col ul li a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;
}

#footer-container .footer-col ul li a:hover {
    color: #0ed8d6;
}

#footer-container .policy {
    text-align: right;
}

@media (max-width: 767px) {
    #footer-col {
        text-align: center;
    }
    #footer-container .policy {
        text-align: center;
    }
}

body {
    font-family: 'Roboto Slab', serif;
    color: #777777;
}

.main-container {
    padding: 100px 0;
    text-align: center;
}

header {
    margin-bottom: 50px;
}

header p {
    font-style: italic;
}

.row {
    margin: 0;
}

h2,
h3,
h4 {
    color: #000;
    margin: 15px 0;
}

h2 {
    font-size: 2em;
    font-weight: 700;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
    padding-top: 10px;
}

p {
    font-size: 14px;
    padding-bottom: 10px;
}

.btn-my {
    color: #fff;
    background-color: #0ed8d6;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    transition: 0.4s;
    font-weight: 700;
    border: 3px solid #0ed8d6;
    margin: 20px;
    padding: 15px 35px;
    font-size: 1em;
    cursor: pointer;
}

.btn-my:hover {
    color: #0ed8d6;
    background-color: #fff;
    border: 3px solid #0ed8d6;
}

.social-media {
    margin: 0 10px;
    color: #fff;
    background-color: #000;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    font-size: 1.3em;
    transition: 0.4s;
}

.social-media:hover {
    background-color: #0ed8d6;
}