.navbar {
  background-color: transparent;
  transition: 0.5s ease; }
  .navbar .navbar-brand {
    color: #fff;
    font-family: 'Droid Serif', sans-serif;
    transition: 0.4s; }
    .navbar .navbar-brand:focus {
      color: #fff; }
    .navbar .navbar-brand:hover {
      color: #0ed8d6; }
  .navbar .navbar-brand-hover:hover {
    color: #3a41f5; }
  .navbar .navbar-toggler {
    border-color: #fff;
    cursor: pointer; }
    .navbar .navbar-toggler:focus {
      outline: none; }
    .navbar .navbar-toggler i {
      color: #fff;
      font-size: 1.3em; }

.navbar.navbar-light .nav-link {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  transition: 0.4s;
  padding: 10px 20px;
  font-weight: 400; }
  .navbar.navbar-light .nav-link:hover {
    color: #0ed8d6; }

.navbar.navbar-light .nav-link-hover:hover {
  color: #3a41f5; }

.drop-menu {
  background-color: rgba(14, 216, 214, 0.7); }
